[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bcrypt = "*"
flask-httpauth = "*"
flask-marshmallow = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
gevent = "*"
gunicorn = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
redis = "*"
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
